@import "foundation";
@import 'colors';
@import "home";
@import "buttons";


body {
  background-color: $body-color;
  font-family: Arial, Helvetica, sans-serif;
}


.button.expand {
	&:hover {
		background-color: $text-color;
	}
}

.view-product {
	border: 1px solid $text-color;
	list-style-type: none;
	padding: .5em;
	margin-left: 0;
}

.map {
	background-color: black;
}
