@import "foundation";
@import 'colors';
@import 'leaflet';
@import "home";
@import "buttons";


body {
  background-color: $body-color;
  font-family: Arial, Helvetica, sans-serif;
}

.view-product {
	border: 1px solid $text-color;
	list-style-type: none;
	padding: .5em;
	margin-left: 0;
}

.product-name {
	font-size: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
}

.map {
	background-color: black;
	
}

.address-field {
	margin-top: 24px;
}
