@import "foundation";
@import 'colors';


body {
  background-color: $body-color;
}

.home-form {
	max-width: 37.5rem;
	margin-top: 70px;
}

.home-image {
	width: 50%;
	margin: 0 20%;
}

.home-text {
	margin-top: 2%;
  font-size: 1.5em;
}

.home-section {
	padding: 0 2% 0 2%;

}